{
  "extends": "egg",
  "rules": {
    "prefer-arrow-callback": [ "error", { "allowNamedFunctions": true } ]
  },
  "globals": {
    "app": true,
    "request": true,
    "mm": true,
    "mock": true,
    "assert": true,
  }
}
