    </div>
    <div class="bottom">
      <hr/>
      <p>
        <% include foot.ejs %>
      </p>
    </div>
    </div>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="//dn-staticfile.qbox.me/respond.js/1.2.0/respond.min.js"></script>

    <script src="//dn-staticfile.qbox.me/prettify/r298/prettify.min.js"></script>

    <!-- Specific to this page -->
    <script>
    $(function () {
    $('pre code').parent().addClass('prettyprint');
    prettyPrint();
    });
    </script>
  </body>
</html>
